h1,h2,h3.h4,h5,h6, p {
    margin: 0;
}
 ul, ol {
    list-style: none;

 }
a {
    text-decoration: none;
}

body {
    font-family: "Roboto", sans-serif;

}
.main-button {
    min-width: 98px;
    height: 32px;
    background-color: #BBF330;
    border-radius: 30px;
}
 .nav-link {

 }

 .container {
    max-width: 1280px;
    padding: 0 16px;
    margin: 0 auto;
 }

 .header-container {
    display: flex;
    gap: 28px;
 }

 .logo {
    margin-right: auto;
 }

 .nav-link {
    display: block;
    padding: 28px 0;
 }

 .navigation {
    margin-right: 30px;
 }

 .offering-button {
    background-color: #fff;
       
 }

 .hero {
    padding-top: 14px;
    padding-bottom:  69px;
 }