h1,h2,h3,h4,h5,h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

img {
    display: block;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #2c2c2c;
    background-color: #fefefe;
}

section:nth-child(even) {
    background-color: #ffe550;
}

.container {
    max-width: 1286px;
    padding: 0 19px;
    margin: 0 auto; 
}

/* =============== Header section =============== */
.header-container {
    display: flex;
    align-items: center;
}
.page-nav {
    display: flex;
    margin-left: auto;
}
.page-nav-list {
    display: flex;
    gap: 28px;
    margin-right: 30px;
}
.nav-link {
    display: inline-block;
    font-size: 14px;
    padding: 28px 0;
}

.nav-link:hover,
.nav-link:focus {
    color: #bbf330;
    text-decoration: underline;
}

.button {
    display: block;
    min-width: 98px;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    color: inherit;
    border-radius: 30px;
}

.main-button {
    background-color: #bbf330;
    border: 0;
    padding: 6px 18px;
    max-height: 32px;
}

/* =============== Hero section =============== */
.hero-container {
    display: flex;
    padding-top: 14px;
    padding-bottom: 55px;
}

.hero-main {
    padding-top: 145px;
    padding-bottom: 164px;
    margin-right: 143px;
}

.main-title {
    max-width: 502px;
    font-size: 48px;
    line-height: 1.2;
    margin-bottom: 28px;
}

.hero-description {
    max-width: 511px;
    line-height: 1.5;
    margin-bottom: 40px;
}

.image-thumb {
    width: 580px;
    height: 580px;
    border: 26px solid #ffe550 ;
    border-radius: 291px;
    position: abosule;
}

.hero-image {
    position: relative;
    transform: translateX(-9px ); 
}

/* =============== Our offerings section =============== */
.offerings-section {
    padding-top: 113px;
    padding-bottom: 124px;
    display: flex;
    align-items: center;
}

.thumb-apple {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 550px;
    height: 550px;
    border: 5px solid rgba(255, 255, 255, 0.5);
    border-radius: 100%;
    margin-right: 90px;
} 

.thumb-background-apple {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 502px;
    height: 502px;
    background-color: #fefefe;
    border-radius: 100%;
    position: absolute;
    /* padding: 24px 24px; */
}

.offerings-image {
    display: block;
    position: relative;
    transform: translateY(-79px);
} 
.offerings-content {
    margin-right: 51px;
}

.offerings-title {
    max-width: 526px;
    margin-bottom: 20px;
}

.offerings-list {
    display: flex;
    column-gap: 67px;
}
.offerings-list-item {
    max-width: 253px;
    margin-bottom: 32px;
}

.list-item-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background-color: #fefefe;
    border-radius: 50%;
    margin-bottom: 8px;
    fill: #7eb101;
}



.offerings-subtitle {
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 16px;
}

.title {
    font-size: 42px;
    line-height: 1.2;
}

.offerings-description {
    line-height: 1.5;
    max-width: 500px;
    margin-bottom: 40px;
}


.offerings-list-description {
    font-size: 14px;
    line-height: 1.5;
}

.secondary-button {
    background-color: #ffffff;
    border: 2px solid #7eb101;
    padding: 10px 20px;
    max-height: 40px;
}

/* =============== Our Favorites section =============== */
.favorites{ 
    padding-top: 120px;
    padding-bottom: 101px;
}
/* НЕ СПРАЦЬОВУЄ МАРДЖИН ДЛЯ ЦЕНТРУВАННЯ ЗАГОЛОВКУ!!!!! РОЗІБРАТИСЬ!!!!!  */
.favorites-title {
    text-align: center;
    margin-bottom: 20px;
}

.favorites-description {
    text-align: center;
    margin-bottom: 40px;
}

.favorites-list {
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc((100% - 2 * 32px) / 3);
    gap: 30px;
}

.favorites-list-item {
    border: 16px solid #ffe550;
    border-radius: 197px;
    padding: 24px 24px;
}

/* =============== Customer`s reviews section =============== */
.customers-reviews {
    padding-top: 140px;
    padding-bottom: 126px;
}
.reviews-title {
    margin-bottom: 20px;
} 

.reviews-list {
    display: flex;
    margin-top: 33px;
    column-gap: 139px;
}

.reviews-list-item {
    max-width: 501px;
    background-color: #fefefe;
    border-radius: 0 30px 30px 30px;;
    padding: 14px;

}

.rating-list {
    display: flex;
    column-gap: 4px;
    margin-bottom: 29px;
}

.list-rating-item {
    fill: #ffe550;
}

.reviews-description {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 41px;
}

.users-flexcontainer {
    display: flex;
    align-items: center;
}

.users-flexcontainer::after {
    content: "";
    width: 1px;
    height: 52px;
    background-color: #7eb101;
}

.username-container {
    margin-right: 16px;
}

.userpic {
    margin-right: 16px;
}

.username {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
}

.username-description {
    font-size: 14px;
    line-height: 1.5;
}

/* =============== Subscribe section =============== */

.subscribe-container {
    display: flex;
    align-items: center;
    padding-top: 176px;
    padding-bottom: 201px;
    column-gap: 39px;
}

.subscribe-title {
    margin-bottom: 20px;
}

.subscribe-description {
    max-width: 532px;
    margin-bottom: 24px;
}

.input-container {
    display: flex;
    gap: 32px;
}

.subscribe-input {
    width: 394px;
    max-height: 42px;
    border: 0.85px solid #ffe550;
    border-radius: 30px;
    padding: 12px 11px;
}

.subscribe-input::placeholder {
    font-size: 12px;
    line-height: 1.5;
    color: #505050;
}

.subscribe-button {
    max-height: 42px;
    padding: 11px 22px;
}

/* ===============Footer section=============== */
.footer-container {
    padding: 100px 0;
    background-image: url(../img/footer-bg.jpg);
    background-repeat: no-repeat;
    background-position: bottom;

}

.footer-flexcontainer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.footer-nav {
    display: flex;
}
.footer-nav-list {
    display: flex;
    column-gap: 28px;
    margin-left: 143px;
}

.footer-nav-list .nav-link {
    padding: 18px 0;
}


.footer-subscribe-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 12px;
}

.footer-input-container {
    column-gap: 13px;
    margin-bottom: 12px;
}

.footer-input {
    max-width: 279px;
}

.footer-input-container .subscribe-button {
    border: 0.85px solid #7eb101;
}

.footer-subscribe-description {
    font-size: 12px;
}

.privacy-block {
    display: flex;
    justify-content: space-between;
}

.privacy-list {
    display: flex;
    column-gap: 20px;
}

.privacy-link {
    font-size: 12px;
    text-decoration: underline;
    color: #7eb101;
}

.rights-description {
    font-size: 12px;
}




