h1,h2,h3,h4,h5,h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

img {
    display: block;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #2c2c2c;
    background-color: #fefefe;
}

section:nth-child(even) {
    background-color: #ffe550;
}

.container {
    max-width: 1286px;
    padding: 0 19px;
    margin: 0 auto; 
}

/* =============== Header section =============== */
.page-header {
    box-shadow: 0 4px 24px 0 rgba(105, 105, 105, 0.1);
}

.header-container {
    display: flex;
    align-items: center;
}
.page-nav {
    display: flex;
    margin-left: auto;
}
.page-nav-list {
    display: flex;
    gap: 28px;
    margin-right: 30px;
}
.nav-link {
    display: inline-block;
    font-size: 14px;
    padding: 28px 0;
}

.nav-link:hover,
.nav-link:focus {
    color: #bbf330;
    text-decoration: underline;
}

.button {
    display: block;
    min-width: 98px;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    color: inherit;
    border-radius: 30px;
}

.main-button {
    background-color: #bbf330;
    border: 0;
    padding: 6px 18px;
    max-height: 32px;
}

.main-button:hover,
.main-button:focus {
    background-color: #ffe450;
}

/* =============== Hero section =============== */
.hero-container {
    display: flex;
    padding-top: 14px;
    padding-bottom: 55px;
}

.hero-main {
    padding-top: 145px;
    padding-bottom: 164px;
    margin-right: 143px;
}

.main-title {
    max-width: 502px;
    font-size: 48px;
    line-height: 1.2;
    margin-bottom: 28px;
}

.hero-description {
    max-width: 511px;
    line-height: 1.5;
    margin-bottom: 40px;
}

.image-thumb {
    width: 580px;
    height: 580px;
    border: 26px solid #ffe550 ;
    border-radius: 291px;
    position: abosule;
}

.hero-image {
    position: relative;
    transform: translateX(-9px ); 
}

/* =============== Our offerings section =============== */
.offerings-section {
    padding-top: 113px;
    padding-bottom: 124px;
    display: flex;
    align-items: center;
}

.thumb-apple {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 550px;
    height: 550px;
    border: 5px solid rgba(255, 255, 255, 0.5);
    border-radius: 100%;
    margin-right: 90px;
} 

.thumb-background-apple {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 502px;
    height: 502px;
    background-color: #fefefe;
    border-radius: 100%;
    position: absolute;
    /* padding: 24px 24px; */
}

.offerings-image {
    display: block;
    position: relative;
    transform: translateY(-79px);
} 
.offerings-content {
    margin-right: 51px;
}

.offerings-title {
    max-width: 526px;
    margin-bottom: 20px;
}

.offerings-list {
    display: flex;
    column-gap: 67px;
}
.offerings-list-item {
    max-width: 253px;
    margin-bottom: 32px;
}

.list-item-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background-color: #fefefe;
    border-radius: 50%;
    margin-bottom: 8px;
    fill: #7eb101;
}



.offerings-subtitle {
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 16px;
}

.title {
    font-size: 42px;
    line-height: 1.2;
}

.offerings-description {
    line-height: 1.5;
    max-width: 500px;
    margin-bottom: 40px;
}


.offerings-list-description {
    font-size: 14px;
    line-height: 1.5;
}

.secondary-button {
    background-color: #ffffff;
    border: 2px solid #7eb101;
    padding: 10px 20px;
    max-height: 40px;
}

.secondary-button:hover,
.secondary-button:focus {
    border: 2px solid #bbf330;
    background-color: #bbf330;
}


/* =============== Our Favorites section =============== */
.favorites{ 
    padding-top: 120px;
    padding-bottom: 101px;
}
/* НЕ СПРАЦЬОВУЄ МАРДЖИН ДЛЯ ЦЕНТРУВАННЯ ЗАГОЛОВКУ!!!!! РОЗІБРАТИСЬ!!!!!  */
.favorites-title {
    text-align: center;
    margin-bottom: 20px;
}

.favorites-description {
    text-align: center;
    margin-bottom: 40px;
}

.favorites-list {
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc((100% - 2 * 32px) / 3);
    gap: 30px;
}

.favorites-list-item {
    border: 16px solid #ffe550;
    border-radius: 197px;
    padding: 24px 24px;
}

.favorites-list-item:hover {
    border: 16px solid #bbf330;
}

/* =============== Customer`s reviews section =============== */
.customers-reviews {
    padding-top: 140px;
    padding-bottom: 126px;
}
.reviews-title {
    margin-bottom: 20px;
} 

.reviews-list {
    display: flex;
    margin-top: 33px;
    column-gap: 139px;
}

.reviews-list-item {
    max-width: 501px;
    background-color: #fefefe;
    border-radius: 0 30px 30px 30px;;
    padding: 14px;

}

.rating-list {
    display: flex;
    column-gap: 4px;
    margin-bottom: 29px;
}

.list-rating-item {
    fill: #ffe550;
}

.reviews-description {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 41px;
}

.users-flexcontainer {
    display: flex;
    align-items: center;
}

.users-flexcontainer::after {
    content: "";
    width: 1px;
    height: 52px;
    background-color: #7eb101;
}

.username-container {
    margin-right: 16px;
}

.userpic {
    margin-right: 16px;
}

.username {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
}

.username-description {
    font-size: 14px;
    line-height: 1.5;
}

/* =============== Subscribe section =============== */

.subscribe-container {
    display: flex;
    align-items: center;
    padding-top: 176px;
    padding-bottom: 201px;
    column-gap: 39px;
}

.subscribe-title {
    margin-bottom: 20px;
}

.subscribe-description {
    max-width: 532px;
    margin-bottom: 24px;
}

.input-container {
    display: flex;
    gap: 32px;
}

.subscribe-input {
    width: 394px;
    max-height: 42px;
    border: 0.85px solid #ffe550;
    border-radius: 30px;
    padding: 12px 11px;
    outline: transparent;
}

.subscribe-input::placeholder {
    font-size: 12px;
    line-height: 1.5;
    color: #505050;
}

.subscribe-button {
    max-height: 42px;
    padding: 11px 22px;
}

/* ===============Footer section=============== */
.page-footer {
    box-shadow: 0 -4px 24px 0 rgba(105, 105, 105, 0.1);
}

.footer-container {
    padding: 100px 0;
    background-image: url(../img/footer-bg.jpg);
    background-repeat: no-repeat;
    background-position: bottom;

}

.footer-flexcontainer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.footer-nav {
    display: flex;
}
.footer-nav-list {
    display: flex;
    column-gap: 28px;
    margin-left: 143px;
}

.footer-nav-list .nav-link {
    padding: 18px 0;
}


.footer-subscribe-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 12px;
}

.footer-input-container {
    column-gap: 13px;
    margin-bottom: 12px;
}

.footer-input {
    max-width: 279px;
}

.footer-input-container .subscribe-button {
    border: 0.85px solid #7eb101;
}

.footer-input-container .subscribe-button:hover,
.footer-input-container .subscribe-button:focus {
    border: 0.85px solid #ffe450;
    background-color: #fefefe;
}

.footer-subscribe-description {
    font-size: 12px;
}

.privacy-block {
    display: flex;
    justify-content: space-between;
}

.privacy-list {
    display: flex;
    column-gap: 20px;
}

.privacy-link {
    font-size: 12px;
    text-decoration: underline;
    color: #7eb101;
}

.rights-description {
    font-size: 12px;
}

/* ===============Modal window=========== */

.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(94, 99, 99, 0.7);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(.17, .67, .83, .67), visibility 250ms cubic-bezier(.17, .67, .83, .67);
}

.is-hidden {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    border-radius: 30px;
    width: 458px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.06);
    background: #ffe550;
    height: 449px;
    padding: 32px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.modal-close-btn {
    position: absolute;
    right: 12px;
    top: 12px;
    border-radius: 100%;
    background-color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.06);
    border: none;
    cursor: pointer;
    width: 32px;
    height: 32px;
    padding: 0;
    line-height: 0;
}

.modal-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 20px;
    text-align: center;
}

.modal-input-wrap {
    margin-bottom: 24px;
}

.lable-form {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 2px;
    margin-left: 12px;
}

.input-form {
    border: 1px solid rgba(18, 18, 18, 0.12);
    border-radius: 30px;
    width: 100%;
    height: 48px;
    box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #fff;
    padding-left: 12px;
    outline: transparent;
}

.input-form::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: #c4c4c4;
}


.modal-btn {
    min-width: 106px;
    margin-left: auto;
    margin-right: auto;
}

.modal-btn:hover,
.modal-btn:focus {
    border-color: #7eb101;
}

